@media (orientation: landscape) {
    #custom-attribution {
        justify-self: flex-end;
    }
}

@media (orientation: portrait) {
    #custom-attribution {
        order: 3;
        width: max-content;
        justify-self: end;
    }
}

.maplibregl-map .maplibregl-ctrl-attrib {
    visibility: hidden;
    pointer-events: none;
}

#custom-attribution {
    font: 12px / 20px Helvetica Neue, Arial, Helvetica, sans-serif;
    height: 40px;
    user-select: none;
}

#custom-attribution details:not([open]) {
    padding: 2px 24px 2px 0;
}