#building-details #panel-thumbs-list img {
    width: var(--thumb-width);
    height: var(--thumb-height);
    cursor: pointer;
    display: grid;
    gap: var(--thumb-gap);
}

@media (orientation: landscape) {
    #building-details {
        width: max-content;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #building-details {
        display: flex;
        width: max-content;
    }

    #building-info {
        justify-content: center;

        /* ensure that 1st thumb is at least partly visible */
        max-width: 65vw;
    }

    #building-info__subtitle {
        /* this made sense but the element shrank anyway, idkw */
        /* flex-shrink: 1; */

        /* this supposedly makes it shrink, squeezing to the limited height of parent */
        min-height: 0;
        
        overflow: auto;
    }
}

#building-info {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-style: italic;
    /* flex-wrap: wrap; */
    align-items: center;
}

#building-info>* {
    margin: 4px 10px;
    text-align: center;
}

#building-info>*:first-child {
    margin-top: 12px;
}

#building-info>*:last-child {
    margin-bottom: 10px;
}

#building-info__title {
    font-size: 18px;
}

#building-info__subtitle {
    font-size: 14px;
}

#building-info__year {
    font-size: 13px;
}

#building-info__other {
    display: flex;
    gap: 3px;
}

#building-info__other a {
    display: flex;
}

#building-info__wikipedia a {
    position: relative;
    top: 2px;
}

#building-info a[href=""],
#building-info a:not([href]) {
    display: none;
}

#building-info__wikipedia img {
    height: 26px;
}

#building-info__google img {
    height: 30px;
}

#building-info__links a {
    display: block;
    padding: 4px;
    font-size: 14px;
}

#building-info__flyto img {
    height: 26px;
    padding: 3px;
    cursor: pointer;
}

#building-info__copylink {
    position: relative;
}

#building-info__copylink #copylink-message {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    font-size: smaller;
    padding: 4px 6px;
    white-space: nowrap;
    z-index: 1;
    display: none;
}

#building-info__copylink img {
    height: 33px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

#building-info__share img {
    height: 27px;
    padding: 2px;
}