#building-details #panel-thumbs-list img {
    width: var(--thumb-width);
    height: var(--thumb-height);
    cursor: pointer;
    display: grid;
    gap: var(--thumb-gap);
}

@media (orientation: landscape) {
    #building-details {
        width: max-content;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #building-details {
        display: flex;
        width: max-content;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #building-info {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}

#building-info {
    display: flex;
    align-items: center;
}

#building-info__name:empty {
    display: none;
}

#building-info__name {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 18px;
    margin: 8px 15px 4px 15px;
}

#building-info__other {
	display: flex;
	position: relative;
	top: 2px;
}

#building-info__other a {
    display: flex;
}

#building-info__wikipedia a {
    position: relative;
    top: 2px;
}

#building-info a[href=""],
#building-info a:not([href]) {
    display: none;
}

#building-info__wikipedia img {
    height: 26px;
}

#building-info__google img {
    height: 30px;
}