#highlights-list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px;
}

@media (orientation: landscape) {
    #highlights-list {
        flex-wrap: wrap;
        width: var(--highlights-width-in-landscape);
        height: max-content;
    }
}

@media (orientation: portrait) {
    #highlights-list {
        height: var(--highlights-height-in-portrait);
    }
}

@media (orientation: portrait) and (pointer: fine) {
    #highlights-list {
        /* This (portrait + desktop) is a special case where higlights y-scroll themselves instead of delegating it to #panel.
        It's a bit inconsistent but difficult to solve. */
        width: 100vw;
        overflow-y: scroll;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #highlights-list {
        width: max-content;
        flex-wrap: nowrap;
    }
}