#non-map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    pointer-events: none;
}

#non-map>*>* {
    pointer-events: auto;
}


@media (orientation: portrait) and (pointer: coarse) {
    #non-map {
        grid-template-rows: minmax(0, 1fr) auto;
    }

    #non-map>* {
        width: 100%;
    }

    #expand-button-wrapper {
        order: 2;
    }

    #non-panel {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: minmax(0, 1fr);
    }

    #bottom-right-button-slot {
        order: 3;
        justify-self: end;
    }
}

@media (orientation: landscape),
(pointer: fine) {
    #non-map {
        grid-template-columns: auto 1fr;
    }

    #non-map>* {
        height: 100%;
    }

    #non-panel {
        order: 2;
        /* expand button takes all free height */
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr auto;
    }

    /* place expand button at middle height */
    #expand-button-wrapper {
        grid-column: 1 / 2;
        grid-row: 1;
        height: 100%;
        display: flex;
    }

    #panel-expand-button {
        margin-top: 50svh;
        transform: rotate(90deg) translateX(-50%);
    }

    #bottom-right-button-slot {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
        justify-self: end;
    }
}


#non-panel {
    overflow: hidden;
    display: grid;
    align-items: end;
    z-index: 3;
}

#expand-button-wrapper {
    pointer-events: none;
    z-index: 1;
}

#panel-expand-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #dadce0;
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3);
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    transition: opacity ease-out 1s;
    background-color: var(--panel-bg-color);
}

#panel-expand-button.hidden {
    opacity: 0;
}

#panel-expand-button.inward svg {
    transform: rotate(180deg);
}

.maplibregl-ctrl-group:not(:empty) {
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3) !important;
}




















#right-button-group {
    position: fixed;
    right: 0;
    bottom: calc(50svh + 15px);
    margin-bottom: var(--right-buttons-vert-offset, 0px);
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: max-content;

    margin-right: 5px;
    box-sizing: border-box;
    gap: 10px;

    transition: margin-bottom var(--panel-expand-transition-duration) cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (orientation: landscape) and (pointer: coarse) {
    /*
        in mobile browsers, vertical position of right-button-group was fucked for no obvious reason, it appeared too high, and it varied btw browsers
    */
    #right-button-group {
        top: 0;
        bottom: 0;
        height: 100%;
        margin-bottom: 0;
        transform: none;
    }
}

:root[panel-is-dragged=true] #right-button-group {
    transition: none;
}

#right-button-group>* {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.zoom-button {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    transition: background-color 0.2s;
}

.zoom-button svg {
    width: 16px;
}

.zoom-button:active {
    background-color: #e0e0e0;
}

.zoom-in {
    border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
    .zoom-button {
        width: 40px;
        height: 40px;
    }
}

.zoom-button.disabled {
    pointer-events: none;
}

.zoom-button.disabled>* {
    opacity: 0.4;
}