#non-map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    pointer-events: none;
}

#non-map>*>* {
    pointer-events: auto;
}


@media (orientation: portrait) and (pointer: coarse) {
    #non-map {
        grid-template-rows: minmax(0, 1fr) auto;
    }

    #non-map>* {
        width: 100%;
    }

    #expand-button-wrapper {
        order: 2;
    }

    #non-panel {
        align-items: end;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto minmax(0, 1fr);
    }

    #bottom-right-button-slot {
        order: 3;
        justify-self: end;
    }

    #panel-expand-button {
        top: 1px;
    }
}

@media (orientation: landscape),
(pointer: fine) {
    #non-map {
        grid-template-columns: auto 1fr;
    }

    #non-map>* {
        height: 100%;
    }

    #non-panel {
        order: 2;
        /* expand button takes all free height */
        grid-template-rows: 70px 1fr 70px;
        grid-template-columns: 1fr auto;
    }

    /* place expand button at middle height */
    #expand-button-wrapper {
        grid-column: 1 / -1;
        grid-row: 2;
        display: flex;
        align-items: center;
    }

    #panel-expand-button {
        transform: rotate(90deg);
        left: -1px;
    }

    #bottom-right-button-slot {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
        justify-self: end;
    }
}


#non-panel {
    overflow: hidden;
    display: grid;
    z-index: 3;
}

#expand-button-wrapper {
    pointer-events: none;
    z-index: 1;
}

#panel-expand-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid var(--button-border-color);
    border-left: 1px solid var(--button-border-color);
    border-right: 1px solid var(--button-border-color);

    /* this is to push the button by 1px in order to fix blinking of the panel's outline under the button caused by some subpixel mistake */
    position: relative;

    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    transition-property: background-color;
    background-color: white;
}

:root[panel-content-id=menu] #panel-expand-button {
    background-color: var(--menu-bg-color);
}






#panel-expand-button svg {
    transition-property: transform;
    transition-duration: 0.3s;
}

#panel-expand-button svg.hidden {
    transform: scale(0);
}

#panel-expand-button.inward svg {
    transform: scale(-1);
}




.maplibregl-ctrl-group:not(:empty) {
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3) !important;
}




















#right-button-group {
    position: fixed;
    right: 0;
    bottom: calc(50svh + 15px);
    margin-bottom: var(--right-buttons-vert-offset, 0px);
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: max-content;

    margin-right: 5px;
    box-sizing: border-box;
    gap: 10px;

    transition: margin-bottom var(--panel-expand-transition-duration) cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (orientation: landscape) and (pointer: coarse) {

    /*
        in mobile browsers, vertical position of right-button-group was fucked for no obvious reason, it appeared too high, and it varied btw browsers
    */
    #right-button-group {
        top: 0;
        bottom: 0;
        height: 100%;
        margin-bottom: 0;
        transform: none;
    }
}

:root[panel-is-dragged=true] #right-button-group {
    transition: none;
}

#right-button-group>* {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.zoom-button {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
}

.zoom-button svg {
    width: 16px;
}

.zoom-button svg * {
    stroke: var(--icon-color);
    transition: stroke var(--icon-disable-transition-duration) ease-out;
}

@media (max-width: 600px) {
    .zoom-button {
        width: 40px;
        height: 40px;
    }
}

:root[min-zoom-reached=true] .zoom-button.zoom-out {
    pointer-events: none;
}

:root[min-zoom-reached=true] .zoom-button.zoom-out svg>* {
    stroke: var(--disabled-icon-color);
}

:root[max-zoom-reached=true] .zoom-button.zoom-in {
    pointer-events: none;
}

:root[max-zoom-reached=true] .zoom-button.zoom-in svg>* {
    stroke: var(--disabled-icon-color);
}









#gotoworld {
    cursor: pointer;
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    padding: 10px;
    align-items: center;
    width: max-content;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    pointer-events: none;
    user-select: none;
}

:root[min-zoom-reached=true] #gotoworld {
    opacity: 1;
    pointer-events: auto;
}

#gotoworld-icon {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #65B8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px -3px 12px 1px inset #3e709e;
}

#gotoworld svg {
    width: 65%;
    height: 70%;
}

#gotoworld svg * {
    fill: #ffffff;
    stroke: #ffffff;
}

#gotoworld span {
    width: max-content;
    font-family: sans-serif;
    background: #c3ffad;
    padding: 2px 4px 3px 30px;
    transform: translateX(-25px);
    z-index: -1;
}