#non-map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    background: rgba(0,0,0,.2);
    pointer-events: none;
}

#non-map > * > * {
    pointer-events: auto;
}


@media (orientation: portrait) {
    #non-map {
        grid-template-rows: 1fr auto;
    }
    #non-map > * {
        width: 100%;
    }
}
@media (orientation: landscape) {
    #non-map {
        grid-template-columns: auto 1fr;
    }
    #non-map > * {
        height: 100%;
    }
    #panel-expander {
        order: 1;
    }
    #non-panel {
        order: 2;
    }
}

#non-panel {
    overflow: hidden;
    display: grid;
    align-items: end;
}