#non-map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    pointer-events: none;
}

#non-map>*>* {
    pointer-events: auto;
}


@media (orientation: portrait) and (pointer: coarse) {
    #non-map {
        grid-template-rows: 1fr auto;
    }

    #non-map>* {
        width: 100%;
    }

    #expand-button-wrapper {
        order: 2;
    }

    #non-panel {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto auto;
        align-content: end;
    }

    #button-slot-1 {
        grid-row: 1;
        grid-column: 1 / -1;
        justify-self: end;
    }
}

@media (orientation: landscape),
(pointer: fine) {
    #non-map {
        grid-template-columns: auto 1fr;
    }

    #non-map>* {
        height: 100%;
    }

    #non-panel {
        order: 2;
        /* expand button takes all free height */
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr auto;
    }

    /* place expand button at middle height */
    #expand-button-wrapper {
        grid-column: 1 / 2;
        grid-row: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

    #panel-expand-button {
        transform: rotate(90deg);
        transform-origin: 0 100%;
    }

    #bottom-right-button-slot {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    #button-slot-1 {
        grid-row: 1;
        grid-column: 2 / 3;
        justify-self: end;
    }
}

#non-panel {
    overflow: hidden;
    display: grid;
    align-items: end;
    z-index: 3;
}

#expand-button-wrapper {
    pointer-events: none;
    z-index: 1;
}

#panel-expand-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #dadce0;
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3);
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    transition: opacity ease-out 1s;
}

#panel-expand-button.hidden {
    opacity: 0;
}

#panel-expand-button.inward svg {
    transform: rotate(180deg);
}

.maplibregl-ctrl-group:not(:empty) {
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3) !important;
}









@media (orientation: landscape),
(pointer: fine) {
    #bottom-right-button-slot {
        justify-self: flex-end;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #bottom-right-button-slot {
        order: 3;
        width: max-content;
        justify-self: end;
    }
}

#bottom-right-button-slot {
    font: 12px / 20px Helvetica Neue, Arial, Helvetica, sans-serif;
    margin-right: 3px;
    user-select: none;
}

#bottom-right-button-slot details:not([open]) {
    padding: 2px 24px 2px 0;
}