@media (orientation: portrait) {
    #panel-expander {
        height: var(--panel-size);
        transition-property: height;
    }

    #panel {
        top: 0;
        width: 100vw;
        /*
        The following means: on desktop+portrait #panel is not a scroller.
        Content has to be able to scroll itself vertically.
        */
        height: max-content;
    }
}

/* on portrait+mobile, scroll the content horizontally */
@media (orientation: portrait) and (pointer: coarse) {
    #panel {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

@media (orientation: landscape) {
    #panel-expander {
        width: var(--panel-size);
        transition-property: width;
        order: 1;
    }

    #panel {
        height: 100vh;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}


#panel-expander {
    transition-timing-function: cubic-bezier(.3, .3, .4, .9);
    transition-duration: var(--expand-transition-duration);
    position: relative;
}

#panel {
    background: white;
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3);
    z-index: 2;
    position: absolute;
}

#panel>* {
    opacity: 1; /* TODO fix content fade in out */
    transition: opacity var(--expand-transition-duration) cubic-bezier(.3, .3, .4, .9);
    transition-delay: var(--expand-transition-duration);
    box-sizing: border-box;
}

/* 
#panel .images {
    max-height: 100%;
    display: flex;
    column-gap: 10px;
    padding: 10px;
}

#panel .images img {
    max-height: 100%;
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--image-fading-duration) ease-out;
}


#panel .images img.hidden {
    opacity: 0;
} */
