@media (orientation: portrait) {
    #panel-expander {
        height: 0;
        transition-property: height;
    }

    #panel-expander.expanded {
        height: var(--panel-height);
    }

    #panel > :first-child {
        height: var(--panel-height);
        width: 100vw;
    }
}

@media (orientation: landscape) {
    #panel-expander {
        width: 0;
        transition-property: width;
        order: 1;
    }

    #panel-expander.expanded {
        width: var(--panel-width);
    }

    #panel {
        height: 100vh;
        width: max-content;
        right: 0;
    }

    #panel > :first-child {
        width: var(--panel-width);
        height: 100vh;
    }
}


#panel-expander {
    transition-timing-function: cubic-bezier(.3, .3, .4, .9);
    transition-duration: var(--expand-transition-duration);
    position: relative;
}

#panel {
    background: white;
    display: flex;
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3);
    z-index: 2;
    position: absolute;
}

#panel>* {
    opacity: 0;
    transition: opacity var(--expand-transition-duration) cubic-bezier(.3, .3, .4, .9);
    transition-delay: var(--expand-transition-duration);
}

#panel-expander.expanded #panel>* {
    opacity: 1;
}
/* 
#panel .images {
    max-height: 100%;
    display: flex;
    column-gap: 10px;
    padding: 10px;
}

#panel .images img {
    max-height: 100%;
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--image-fading-duration) ease-out;
}


#panel .images img.hidden {
    opacity: 0;
} */
