@media (orientation: portrait) {
    #panel-expander {
        height: var(--panel-breadth);
    }

    #panel {
        top: 0;
        width: 100vw;
        /*
        The following means: on desktop+portrait #panel is not a scroller.
        Content has to be able to scroll itself vertically.
        */
        height: max-content;
    }

    #panel-expand-tappable-margin {
        height: var(--panel-expand-button-size);
        width: 100%;
        bottom: 100%;
        left: 0;
    }
}

/* on portrait+mobile, scroll the content horizontally */
@media (orientation: portrait) and (pointer: coarse) {
    #panel {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

@media (orientation: landscape) {
    #panel-expander {
        width: var(--panel-breadth);
        order: 1;
    }

    #panel {
        height: 100vh;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #panel-expand-tappable-margin {
        height: 100%;
        width: var(--panel-expand-button-size);
        left: 100%;
        top: 0;
    }
}


#panel-expander {
    background: white;
    box-shadow: 0 0px 4px 1px rgba(60, 64, 67, 0.3), -500px 500px 0px 500px #fff;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: var(--panel-expand-transition-duration);
    transition-property: opacity, width, height;
    position: relative;
}

#panel-expander:not(.first-animation-complete) {
    transition-duration: 1s;
    transition-delay: 0.5s;
}

#panel {
    z-index: 2;
    position: absolute;
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) var(--panel-content-fade-duration);
}

#panel>* {
    box-sizing: border-box;
}

#panel-expand-tappable-margin {
    position: absolute;
}

@media (pointer: fine) {
    #panel-expand-tappable-margin {
        display: none !important;
    }
}