#panel-thumbs-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--thumb-gap);
    padding: var(--thumb-gap);
    box-sizing: border-box;
}

@media (orientation: landscape),
(pointer: fine) {
    #panel-thumbs-list {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: max-content;

        /* Must expand freely within var(--thumbs-list-width-in-landscape) */
        /* It worked without this max-content for thumbs list in building details, but for some reason didn't work for highlights list (it shrank to 1 col) */
        width: max-content;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #panel-thumbs-list {
        width: max-content;
        flex-wrap: nowrap;
    }

    #panel-thumbs-list .slide-wrapper img {
        max-width: calc(100vw - 20px);
    }
}


#panel-thumbs-list img {
    cursor: pointer;
    max-width: 100%;
}

.slide-wrapper {
    position: relative;
}