#panel-thumbs-list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--thumb-gap);
    padding: var(--thumb-gap);
}

@media (orientation: landscape) {
    #panel-thumbs-list {
        flex-wrap: wrap;
        width: var(--thumbs-list-width-in-landscape);
        height: max-content;
    }
}

@media (orientation: portrait) {
    #panel-thumbs-list {
        height: var(--thumbs-list-height-in-portrait);
    }
}

@media (orientation: portrait) and (pointer: fine) {
    #panel-thumbs-list {
        /* This (portrait + desktop) is a special case where higlights y-scroll themselves instead of delegating it to #panel.
        It's a bit inconsistent but difficult to solve. */
        width: 100vw;
        overflow-y: scroll;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #panel-thumbs-list {
        width: max-content;
        flex-wrap: nowrap;
    }
}


#panel-thumbs-list img {
    width: var(--thumb-width);
    height: var(--thumb-height);
    cursor: pointer;
}
