@media (orientation: portrait) and (pointer: coarse) {
    #panel-expander {
        height: var(--panel-breadth);
    }

    #panel {
        overflow-x: scroll;
        overflow-y: hidden;
        top: 0;
        width: 100vw;
        /*
        The following means: on desktop+portrait #panel is not a scroller.
        Content has to be able to scroll itself vertically.
        */
        height: max-content;
    }

    #panel,
    #panel * {
        max-height: var(--thumbs-list-height-in-portrait);
    }

    #panel-expand-tappable-margin {
        height: var(--panel-expand-button-size);
        width: 100%;
        bottom: 100%;
        left: 0;
    }
}

@media (orientation: landscape),
(pointer: fine) {
    #panel-expander {
        width: var(--panel-breadth);
        order: 1;
    }

    #panel {
        height: 100%;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #panel-expand-tappable-margin {
        height: 100%;
        width: var(--panel-expand-button-size);
        left: 100%;
        top: 0;
    }
}

.panel-transition {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: var(--panel-expand-transition-duration);
}

#panel-expander {
    background-color: white;
    transition-property: background-color, opacity, width, height;
    position: relative;
    outline: 1px solid var(--button-border-color);
}

:root[panel-content-id=menu] #panel-expander {
    background-color: var(--menu-bg-color);
}

#panel-expander.pristine {
    transition-duration: var(--panel-first-expand-transition-duration);
    transition-delay: var(--panel-first-expand-transition-delay);
}

:root[panel-is-dragged=true] #panel-expander,
:root[window-was-just-resized=true] #panel-expander {
    transition: none !important;
}

#panel {
    z-index: 2;
    position: absolute;
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) var(--panel-content-fade-duration);
    font-family: 'Inter', 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', sans-serif;
}

#panel>* {
    box-sizing: border-box;
}

@media (orientation: landscape),
(pointer: fine) {
    #panel * {
        max-width: var(--thumbs-list-width-in-landscape);
    }
}


#panel-expand-tappable-margin {
    position: absolute;
}

@media (pointer: fine) {
    #panel-expand-tappable-margin {
        display: none !important;
    }
}



#wrong-id {
    min-width: 250px;
    padding: 10px;
    color: red;
}