#panel-thumbs-list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--thumb-gap);
    padding: var(--thumb-gap);
    box-sizing: border-box;
}

@media (orientation: landscape) {
    #panel-thumbs-list {
        flex-wrap: wrap;
        justify-content: center;
        height: max-content;

        /* Must expand freely within var(--thumbs-list-width-in-landscape) */
        /* It worked without this max-content for thumbs list in building details, but for some reason didn't work for highlights list (it shrank to 1 col) */
        width: max-content;
    }
}

@media (orientation: portrait) {
    #panel-thumbs-list {
        height: var(--thumbs-list-height-in-portrait);
    }
}

@media (orientation: portrait) and (pointer: fine) {
    #panel-thumbs-list {
        height: max-content;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #panel-thumbs-list {
        width: max-content;
        flex-wrap: nowrap;
    }
}


#panel-thumbs-list img {
    width: var(--thumb-width);
    height: var(--thumb-height);
    cursor: pointer;
}

.slide-wrapper {
    position: relative;
}