.fullwidth-scale-wrapper {

    max-width: 350px;
    color: #333;
    visibility: hidden;
    font-size: 12px;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 24px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    user-select: none;
    pointer-events: none !important;
    position: relative;
}

/* draw a border that is a bit shorter on the right */
.fullwidth-scale-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - var(--scale-right-offset));
    height: 2px;
    background-color: black;
}

@media (max-width: 768px) {
    .fullwidth-scale-wrapper {
        max-width: 300px;
    }
}

@media (orientation: landscape), (pointer: fine) {
    .fullwidth-scale-wrapper {
        order: 1;
        width: calc(100% - 20px);
        margin: 0 10px 10px 10px;
        grid-column: 1 / 2;
        grid-row: 2;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    .fullwidth-scale-wrapper {
        order: 1;
        margin: 0 10px 6px 10px;
    }
}


.fullwidth-scale {
    position: absolute;
    display: flex;
    width: max-content;
}

.fullwidth-scale>div {
    height: 4px;
    width: var(--scale-step-width);
    border-right: 2px solid #333;
    box-sizing: border-box;
}

.scale-item {
    position: relative;
}

.scale-item:first-child {
    box-shadow: 2px 0 0 0 #333 inset;
}

.scale-item.hidden {
    visibility: hidden;
}

.scale-item-label {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 0;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s ease-out;
}

.scale-item.hidden .scale-item-label {
    opacity: 0;
}