.slider {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    overflow: hidden;
}

@media (orientation: landscape) {
    .slider {
        left: var(--panel-size);
    }
}

.slider.hidden {
    display: none !important;
}

.slider .slide-wrapper {
    position: absolute;
    display: flex;
    width: max-content;
    height: max-content;
    max-width: 100%;
    padding: 3vh 3vw;
    box-sizing: border-box;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left var(--slider-transition-duration) cubic-bezier(.3, .3, .4, .9);
}

.slider .lazy-image-wrapper {
    max-width: 100%;
    max-height: 98vh;
}

.slider .left-button,
.slider .right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    display: none;
}

.slider.with-buttons .left-button,
.slider.with-buttons .right-button {
    display: block;
}


.slider .left-button {
    left: 10px;
}

.slider .right-button {
    right: 10px;
}

.slider svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: #fff;
}

.slider .left-button svg {
    transform: rotate(180deg);
}


.close-btn {
    z-index: 11;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.close-btn svg {
    pointer-events: none;
    width: 26px;
}