.slider {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    position: relative;
}

.slider.hidden {
    display: none !important;
}

.slider .slide-wrapper {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left var(--slider-transition-duration) cubic-bezier(.3, .3, .4, .9);
}

.slider .lazy-image-wrapper {
    max-width: 98vw;
    max-height: 98vh;
    
}

.slider .left-button,
.slider .right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    display: none;
}

.slider.with-buttons .left-button,
.slider.with-buttons .right-button {
    display: block;
}


.slider .left-button {
    left: 10px;
}

.slider .right-button {
    right: 10px;
}

.slider svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: #fff;
}

.slider .left-button svg {
    transform: rotate(180deg);
}
