
.unique-tooltip {
    position: absolute;
    background-color: #333;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    color: #fff;
    font-size: 12px;
    
    padding: 4px 6px;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 1;
    opacity: 0;
    transition: opacity ease-out var(--tooltip-fade-duration);
    overflow: hidden;
    
    pointer-events: none;
    user-select: none;
}

.unique-tooltip[data-position="bottom"] {
    top: calc(100% + var(--tooltip-offset));
    left: 50%;
    transform: translateX(-50%);
}

.unique-tooltip[data-position="top"] {
    bottom: calc(100% + var(--tooltip-offset));
    left: 50%;
    transform: translateX(-50%);
}

.unique-tooltip[data-position="left"] {
    top: 50%;
    right: calc(100% + var(--tooltip-offset));
    transform: translateY(-50%);
}

.unique-tooltip[data-position="right"] {
    top: 50%;
    left: calc(100% + var(--tooltip-offset));
    transform: translateY(-50%);
}

.unique-tooltip.visible {
    opacity: 1;
}
