:root {
    --image-fading-duration: 0.16s;
}

:root,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;

    /* This was added to prevent pull-to-refresh when swiping the panel in Firefox on Android */
    overscroll-behavior-y: contain;
}

body {
    margin: 0;
    padding: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.notransition {
    transition: none !important;
}

#maplibregl-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;
    transition: opacity ease-out 0.4s;
}

#maplibregl-map.hidden {
    opacity: 0;
}

.my-button {
    position: absolute;
    right: 10px;
    background: white;
    width: 29px;
    height: 29px;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid white;
}

.my-button.active {
    border-color: #7b7b7b;
}

.my-button img {
    width: 100%;
    height: 100%;
}


.maplibregl-ctrl-bottom-right {
    bottom: 26px;
}


.maplibregl-ctrl.maplibregl-ctrl-attrib {
    margin-bottom: 10px;
    margin-right: 10px;
}







::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #acacac;
}

::-webkit-scrollbar-thumb:hover {
    background: #929292;
}







.bldg-link {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(19, 19, 19, 0.8);
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
}

.pswp .bldg-link {
    transition: opacity ease-out 0.4s;
    width: 34px;
    height: 34px;
}

.bldg-link>* {
    pointer-events: none;
}

.bldg-link svg {
    width: 90%;
    height: 90%;
}

@media (pointer: fine) {
    #panel-thumbs-list .bldg-link {
        transition: opacity ease-out 0.2s;
        transform: translateX(-50%);
    }

    #panel-thumbs-list .slide-wrapper:hover .bldg-link {
        transition-delay: 0.15s;
        opacity: 1;
    }




    /* TOOLTIP: */

    .bldg-link__tooltip {
        visibility: hidden;
        white-space: pre;
        background-color: #000;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 4px 6px;
        line-height: 1.1em;
        position: absolute;
        z-index: 1;

        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        margin-left: 10px;

        opacity: 0;
        transition: opacity 1s, visibility 1s;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 13px;
    }

    .bldg-link__tooltip::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 99%;
        margin-top: -7px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent #000 transparent transparent;
    }

    .bldg-link:hover .bldg-link__tooltip {
        visibility: visible;
        opacity: 0.8;
    }
}

.maplibregl-ctrl-attrib-button:focus,
.maplibregl-ctrl-group button:focus {
    /* prevent built-in ugly blue outline */
    box-shadow: 0 0 5px 2px #adadad;
}

[data-href-id] * {
    pointer-events: none;
}


[data-href-id=menu] {
    border: 1px solid;
    display: flex;
    padding: 6px;
    border-radius: 40px;
    cursor: pointer;
    background: rgba(255, 255, 255, .4);
    transition: opacity 0.5s ease-out;
}

[data-href-id=menu] svg * {
    fill: #737373;
}

:root[panel-content-id=menu][panel-is-expanded=true] [data-href-id=menu] {
    pointer-events: none;
    opacity: 0.3;
}

#maplibregl-map .maplibregl-ctrl-attrib {
    visibility: hidden;
    pointer-events: none;
}











#panel-menu {
    padding: 7px;
    min-width: 250px;
    min-height: 250px;
}
#panel-menu > a {
    display: block;
    display: flex;
    align-items: center;
}

#osm-attr {
    background: #eaeaea;
    padding: 10px;
}

#osm-attr a {
    font-weight: bold;
    color: #354d61;
}